// Override this file to add your own SCSS styling.
.share-box{
  display: none;
}

#projects .article-title a {
  color: #2962ff;
  transition: color 0.3s ease;
}

#projects .article-title a:hover { 
  color: black;
}
